
<table width="800px;" border="1">
	<tr width="100%;">
		<td colspan="2" width="30%;">MMa > MMM > ...</td>
		<td width="30%;">
			Filter:
			<form name="detailForm" role="form" class="form-horizontal">
				<select id="filterParams" name = "value" data-ng-model="filter.param" required>
					<option value="">Select filter params...</option>
					<option value="location">Location</option>
					<option value="name">Employee's name</option>
					<option value="email">Employee's email</option>
				</select>

				<input type = "text" name ="key"  data-ng-model="filter.value" required/>
				<button data-ng-click="filterEmployees()" data-ng-disabled="noChange() || detailForm.$invalid" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
            </form>

		<td width="30%;"><div ng-repeat = "role in employee.roles">{{role}}</div></td>


	<tr ng-repeat = "empl in employees">
		<td width="15%;" style = "background-color: ghostwhite; padding-right: 20px;">
			<div>Select Foto on icon </div>
		</td>
		<td colspan="2" class ="boarder">
			<div id ="profile_attr"> Name: <div id = "profile_value">
				<div ng-if="!empl._edit">{{empl.name}}</div>
				<input type="text" ng-model="empl.name" ng-if="empl._edit">
			</div></div>
			<div id ="profile_attr"> Email:  <div id = "profile_value">
				<div ng-if="!empl._edit">{{empl.email}}</div>
				<input type="text" ng-model="empl.email" ng-if="empl._edit">
			</div></div>
			<div id ="profile_attr"> Roles: <div id = "profile_value"><div ng-repeat = "role in empl.roles">role</div></div>
				<div id ="profile_attr">
					<a href="{{empl.yammerUrl}}">Yammer profile</a>
				</div></div>
		</td>
		<td class="boarder" align="center">
			<button data-ng-click="deleteEmployee(empl.id)" data-ng-show="empl.id" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-remove"></span>Delete</button>
			<!--<a href="@com.adform.lab.controllers.routes.EmployeeController.delete(empl.id.get)"  class="btn btn-default btn-sm" >
				<span class="glyphicon glyphicon-remove"></span> Remove</a>-->

			<button data-ng-click="editEmployee(empl)" ng-if="!empl._edit" class="btn btn-default btn-sm" >
				<span class="glyphicon glyphicon-pencil"></span> Edit</button>

			<button data-ng-click="submitEmployee(empl)" ng-if="empl._edit" class="glyphicon glyphicon-sm" >
				<span class="glyphicon glyphicon-ok"></span> Submit</button>
		</td>
		<hr color="red"/>
	</tr>

</table>
