@(employees: List[com.adform.lab.domain.Employee], employee: com.adform.lab.domain.Employee)


@import com.adform.lab.domain._

@displayRole(roles: List[Role]) = {
    <ul>
        @for(role <- roles) {
            <li>@role.toString</li>
        }
    </ul>
}

@displayPath(ancestors: List[String]) = {
    @for(ancestor <- ancestors) {
        <a href="@com.adform.lab.controllers.routes.PODController.getPODById(ancestor)"/>@ancestors >
    }

}


<div id="header">
    <div id="logo">
        <h1><a href="#">POD</a></h1>
    </div>
    <div id="menu">
        <ul>
            <li class="active"><a href="#" accesskey="1" title="">Home</a></li>
            <li><a href="#" accesskey="2" title="">Archives</a></li>
            <li><a href="#" accesskey="3" title="">About</a></li>
            <li><a href="@com.adform.lab.controllers.routes.Authentication.login">Logout</a></li>
        </ul>
    </div>
</div>

@main("LOGIN") {
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/default.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <table width="100%;">
        <tr width="100%;">
            <td colspan="2" width="30%;">@displayPath(employee.ancestors)</td>
            <td width="30%;">
                Filter:

                    @helper.form(action = com.adform.lab.controllers.routes.EmployeeController.findEmployeeByParams) {
                        <select id="filterParams" name = "value">
                            <option value="">Select filter params...</option>
                            <option value="location">Location</option>
                            <option value="name">Employee's name</option>
                            <option value="email">Employee's email</option>
                        </select>

                        <input type = "text" name ="key"/>
                       <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span> </button>

                }
            <td width="30%;">@displayRole(employee.roles)</td>
        </tr>
        @for(empl <- employees) {
            <tr >
                <td width="15%;" style = "background-color: ghostwhite; padding-right: 20px;">
                    <div>Select Foto on icon </div>
                </td>
                <td colspan="2" class ="boarder">
                    <div id ="profile_attr"> Name: <div id = "profile_value">@empl.employeeProfile.name</div></div>
                    <div id ="profile_attr"> Email:  <div id = "profile_value">@empl.employeeProfile.email</div></div>
                    <div id ="profile_attr"> Roles: <div id = "profile_value">@displayRole(empl.roles)</div></div>
                    <div id ="profile_attr"><a href="@empl.employeeProfile.yammerUrl">Yammer profile</a></div>
                </td>
                <td class="boarder" align="center">
                    <a href="@com.adform.lab.controllers.routes.EmployeeController.delete(empl.id.get)"  class="btn btn-default btn-sm" >
                         <span class="glyphicon glyphicon-remove"></span> Remove</a>

                    <a href="" class="btn btn-default btn-sm" >
                        <span class="glyphicon glyphicon-pencil"></span> Edit</a>
                </td>
                <hr color="red"/>
            </tr>

        }
    </table>

    <hr />
    <div id="footer">
        <p>(c) 2007 YourSite.com. All rights reserved. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> and <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
        <div align="center">1,2,3,4 ... 10 </div>

    </div>
}
